.hidden {
    display: none;
}

.task-element {
    margin: 0 .5rem;
    padding-bottom: .5rem;
    max-width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /*display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;*/
}

.task-element [type=checkbox] {
    margin: 0 .5rem;
}


%important-block {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 .5rem;
    background-color: transparent;   
    width: 1.5rem;
    height: 1.5rem;
}

.task-element-important {
    @extend %important-block;
    background: url('../../icons/star-filled.png') center no-repeat;
    background-size: contain;
}

.task-element-common {
    @extend %important-block;    
}



.task-element-text {
    font-size: 1.25rem;
    [type=checkbox]:checked + & {
        text-decoration: line-through;
    }
}

.task-element-date {
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.25rem;
    margin: 0 .5rem;
}

.task-elemen-btns {
    display: flex;
    justify-content: center;
    margin: .75rem auto;
}

%task-element-btn {
    width: 1.75rem;
    height: 1.75rem;
    padding: .8rem;
    margin: 0 .5rem;
    border: 1px solid transparent;
    border-radius: 5px;
}

.task-element-btn__edit {
    background: #fff url('../../icons/edit.png') center no-repeat; 
    background-size: contain;
    @extend %task-element-btn;
    
}

.task-element-btn__delete {
    background: #fff url('../../icons/delete.png') center no-repeat;
    background-size: contain;
    @extend %task-element-btn;
}